
/*=== para el logo que se mueve ===*/
.container-logo {
  width: 80%;
  position: relative;



}

.App-logo {
  position: absolute;
  width: 60vw;
  z-index: 100;

  top: 19%;
  left: 17vw;
}

.call-action-circle {
  box-shadow: 5px 2px 15px gray;
  position: relative;
  width: 55vw;
  height: 55vw;
  border-radius: 50%;
  background-color: var(--color-primary);
  z-index: 50;


  top: 20%;
  left: 17vw;
}

/*=== para la parte de texto ===*/

.text-container {

  position: absolute;
  text-shadow: 2px 2px 5px white;
  width: 70vw;

  margin: 0;
  padding: 0;

  text-align: center;

  z-index: 150;
  left: 9vw;
}

@media (max-width: 900px) {
  
  .text-container {
    display: none;
  }
}

.call-button {
  background-color: white;
  padding: 5px 60px;
  font-size: 25px;
  color: var(--color-primary);
  border: 3px solid var(--color-primary);
  border-radius: 12px;
  margin-left: 10px;
}
.call-button:hover {
  padding: 5px 60px;
  font-size: 25px;
  color: var(--color-secondary);
  border: 3px solid var(--color-primary);
  border-radius: 12px;
  margin-left: 10px;
}

/*=== contenedor general ===*/
.call-container {
    display: flex;
    background-color: white;

    margin-left: 5%;
    margin-right: 5%;
    padding-top: 50px;

    align-items: center;
}

/* === Efectos ===*/
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin alternate-reverse infinite 5s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(-10deg);
    }
    to {
      transform: rotate(10deg);
  
    }
  }
  
  /* primary 1ABC82 */
  /* secundary 17232D */