.footer-social-icon {
    height: 40px;
    margin: 20px;
}

.footer-description {
    margin: 40px;
    color: white;
}

.footer-container {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: var(--color-secundary);
    border-radius: 30px 30px 0 0;
}

.footer-mail {
    color: var(--color-primary);
}

.footer-avatar {
    height: 200px;
    margin-top: -1000px;
}