:root {
--color-primary: #4caf7f;
--color-secundary: #17232D;
}

h1 {
  font-size: 70px;
  margin: 0px;
  margin: 10px;
}
h2 {
  margin: 0px;
  font-size: 50px;
  margin: 10px;
}
p {
  margin: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.general-container {
  display: block;
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
}




/* primary 1ABC82 */
/* secundary 17232D */