.navbar-container {
    display: Flex;
    align-items: center;
    justify-content: space-between;

    height: 50px;
    backgroundcolor: var(--color-secundary);
}

.nav-links-container {
  display: Flex;
}